page-consoles {
  .pins {
    column-count: 2;
  }
  ion-card {
    border-radius: 10px !important;
  }

  .pin {
    display: inline-block;
  }

  .card {
    margin-top: 10px;
  }

  .post-description {
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  // Media queries
  @media (min-width: 480px) {
    .pins {
      column-count: 3;
    }
  }

  @media (min-width: 640px) {
    .pins {
      column-count: 4;
    }
  }
}
